<div class="{{ handle }}__card doc-card">
    <style>{{{ css }}}</style>

    <img class='doc-card__poster' src='https://interactive.guim.co.uk/doc-cards/posters/{{ poster }}'>
    <div class='doc-card__meta'>
        <p class='doc-card__description'>{{ description }}</p>
        <a class='doc-card__link' href='{{ url }}'></a>
    </div>

    <script>
        if (window.XMLHttpRequest) {
           xhttp = new XMLHttpRequest();
        } else {
           xhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        xhttp.overrideMimeType('text/xml');

        xhttp.open("GET", '{{ url }}/rss', false);
        xhttp.send(null);
        xmlDoc = xhttp.responseXML;

    </script>
</div>
